ul li{
    list-style-type: none;
}

ol li #mere{
    text-decoration: underline;
    color: orange;
    font-style: normal;
}

ol li span {
    font-style: italic;
}

footer{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

